/* Background */
.login-page {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 32px;
  /* background: linear-gradient(135deg, #7a8cf2, #7d4cc2); */
  background-image: url(../../public/pexels-ivan-s-7213104.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */

}

/* Login Card */
.login-card {
  width: 360px;
  max-width: 100%;
  background: #fff;
  border-radius: 24px;
  padding: 20px 20px;
  text-align: center;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.12);
  position: relative;
}

/* Avatar */
.avatar-wrap {
  display: flex;
  justify-content: center;
}
.avatar-gradient {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: radial-gradient(circle, #8aa4ff, #7d4cc2);
  display: flex;
  align-items: center;
  padding: 5px;
  justify-content: center;
}

.avatar-gradient img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
/* Titles */
.login-title {
  font-size: 28px;
  font-weight: 700;
  margin: 18px 0 6px;
  color: #1b1b1f;
}
.login-sub {
  color: #777;
  font-size: 14px;
  margin-bottom: 20px;
}

/* Form */
.form-group {
  margin-bottom: 16px;
  text-align: left;
}

.input-field {
  width: 100%;
  height: 40px;
  border-radius: 12px;
  border: 1px solid #e3e6ef;

}
.input-field::placeholder {
  color: #9aa0b4;
  padding-left: 10px;
}

/* Remember + Forgot */
.form-row-between {
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
}
.remember {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  color: #777;
}
.remember input {
  width: 16px;
  height: 16px;
  accent-color: #6f7cf6;
}
.forgot-link {
  font-size: 14px;
  color: #4b63f8;
  text-decoration: none;
}
.forgot-link:hover {
  text-decoration: underline;
}

/* Button */
.btn-primary-gradient {
  width: 100%;
  height: 50px;
  border-radius: 14px;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: linear-gradient(90deg, #6f7cf6, #7b45c4);
  transition: 0.2s ease;
  box-shadow: 0 8px 20px rgba(115, 79, 195, 0.18);
}
.btn-primary-gradient:hover {
  transform: scale(1.02);
  filter: brightness(1.05);
  box-shadow: 0 12px 30px rgba(115, 79, 195, 0.22);
}


/* Responsive */
@media (max-width: 480px) {
  .login-card {
    padding: 28px 20px;
    border-radius: 18px;
  }
  .avatar-gradient {
    width: 96px;
    height: 96px;
  }
  .login-title {
    font-size: 22px;
  }
}
