*{
margin: 0px;
padding: 0px;
box-sizing: border-box;
/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
/* font-family: 'Ubuntu', sans-serif; */
/* font-family: 'Inter', sans-serif; */
/* font-family: 'Open Sans', sans-serif; */
}